@using Common
@{
    ViewBag.Title = "DepartmentCreate";
}
@model Model.ViewModel.Department.DepartmentInfo
<script src="@Url.Content("~/Content/assets/vendor/js/jquery-2.1.1.min.js")"></script>
@Html.RenderCss("/Content/assets/vendor/bootstrap/css/bootstrap.min.css", "/Content/assets/css/style.css", "/Content/assets/css/add-ons.min.css", "/Content/assets/plugins/magnific-popup/css/magnific-popup.css")

<body style="height:500px;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Create Department</h2>
        </div>
        <div class="panel-body bk-noradius">
            <form id="dpCreate" class="form-horizontal mb-lg" novalidate="novalidate">
                <div class="form-group">
                    <label class="col-sm-3 control-label">部门名称</label>
                    <div class="col-sm-9">
                        <input type="text" name="Name" class="form-control" placeholder="部门名称" maxlength="50" id="departmentName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">上级部门名称</label>
                    <div class="col-sm-9">
                        <input type="text" name="ParentName" class="form-control" placeholder="上级部门名称" disabled="disabled" value="@Model.ParentName" id="ParentName">
                        <input type="hidden" value="@Model.ParentId" id="ParentId" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">部门状态</label>
                    <div class="col-sm-9">
                        <div class="radio-custom radio-inline">
                            <input type="radio" id="staruse" name="isvalid-radios" value="1" checked>
                            <label for="inline-radio1"> 启用</label>
                        </div>
                        <div class="radio-custom radio-inline">
                            <input type="radio" id="stopuse" name="isvalid-radios" value="0" disabled>
                            <label for="inline-radio1"> 停用</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">部门描述</label>
                    <div class="col-sm-9">
                        <textarea rows="5" class="form-control" placeholder="部门描述" id="DepartDesc" maxlength="200"></textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary modal-confirm">确定</button>
                    <button class="btn btn-default modal-dismiss">取消</button>
                </div>
            </div>
        </div>
    </div>
</body>


@Html.RenderJs("/Content/assets/plugins/pnotify/js/pnotify.custom.js", "/Content/assets/plugins/magnific-popup/js/magnific-popup.js", "/Content/Home/DepartmentEdit.js")
    <script>
        var basePath = '@Url.Content("~/")';
        var culture='@CultureHelper.GetCurrentCulture()';
        PageInit();
    </script>


